.header .header__box-menu-btn {
  display: none; }
  @media (max-width: 769px) {
    .header .header__box-menu-btn {
      z-index: 55;
      display: block;
      cursor: pointer;
      width: 30px; } }

.header .header__string-menu {
  cursor: pointer;
  display: none;
  width: 30px;
  height: 3px;
  background-color: #fff; }
  @media (max-width: 769px) {
    .header .header__string-menu {
      display: block;
      position: absolute;
      right: 25px;
      top: 25px; } }

@media (max-width: 769px) {
  .header .header__string-menu-active {
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
    top: 30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

.header .header__string-menu::before {
  position: absolute;
  content: '';
  display: block;
  margin: 10px 0 0 0;
  width: 30px;
  height: 3px;
  background: #ffff;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.header .header__string-menu-active::before {
  position: absolute;
  content: '';
  display: none;
  margin: 10px 0 0 0;
  width: 30px;
  height: 3px;
  background: #ffff;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.header .header__string-menu::after {
  position: absolute;
  top: 11px;
  content: '';
  display: block;
  margin: 10px 0 0 0;
  width: 30px;
  height: 3px;
  background: #ffff; }

.header .header__string-menu-active::after {
  position: absolute;
  top: 0px;
  top: -10px;
  content: '';
  display: block;
  margin: 10px 0 0 0;
  width: 30px;
  height: 3px;
  background: #ffff;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
